<div class="content-wrap bl-fixed">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Receipts (<span id="table_info"></span>)</h1>
                    <!-- <p class="subtitle">Masters / JV Masters / JV Types</p> -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered my-tooltip" data-toggle="modal" data-target="#modal-state-filter" ng-shortcut="'meta+shift+f'" ng-shortcut-click data-title="ctrl+shift+f"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content indicator-block">
                    <ul class="indicator-list">
                        <li class="green">Active</li>
                        <li class="red">In Active</li>
                    </ul>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip refresh_table my-tooltip" ng-shortcut="'meta+shift+r'" ng-shortcut-click data-title="ctrl+shift+r">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_receipt" class="form-control" placeholder="Search" autofocus />
                            <button class="btn-clear my-tooltip" ng-click="clear_search()" ng-shortcut="'meta+shift+c'" ng-shortcut-click data-title="ctrl+shift+c">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table " id="receipt_list" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="actions">Actions</th>
                                <th>Receipt Date</th>
                                <th>Receipt Number</th>
                                <th>Receipt of</th>
                                <th>Account Code</th>
                                <th>Account Name</th>
                                <th class="text-right">Receipt Amount</th>
                                <th class="text-right">Settlement Amount</th>
                                <th class="text-right">Available Payment</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table><!-- Table -->
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal Filter Start -->
<div class="modal fade filter" id="modal-state-filter" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Receipt Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-6">
                            <div class="input-text form-group mb-0">
                                <label>Receipt Date</label>
                            <div class="input-group date">
                                <input date-range-picker id="daterange1" name="daterange" class="form-control date-picker daterange" type="text" ng-model="$ctrl.daterange1" value="{{$ctrl.daterange1}}" placeholder="Select Receipt Date"/>
                                 <span class="input-group-addon">
                                    <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                </span>
                            </div>
                            <!-- Input Group -->
                            </div>
                        </div><!-- Column -->
                    <div class="col-md-6">
                        <div class="input-text form-group">
                            <label>Receipt Number</label>
                            <input type="text" class="form-control" name="receipt_number" placeholder="Enter Receipt Number" aria-invalid="false" autocomplete="off"  ng-model="$ctrl.receipt_number" id="receipt_number">
                        </div><!-- Field -->
                    </div><!-- Column -->
                    <div class="col-md-6">
                        <div class="input-text form-group">
                            <label>Receipt Of</label>
                            <md-select ng-model="$ctrl.receipt_of_id" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" placeholder="Select Receipt Of"  ng-change="onSelectedReceipt($ctrl.receipt_of_id)">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm" type="search" placeholder="Search for a Receipt Of" class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup>
                                    <md-option ng-value="receipt_of.id" ng-repeat="receipt_of in $ctrl.receipt_of | filter:searchTerm">{{receipt_of.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                            <input type="hidden" ng-model="$ctrl.receipt_of_id" class="form-control" name="receipt_of" id="receipt_of" value="">
                        </div><!-- Field -->
                    </div><!-- Column -->
                    <div class="col-md-6">
                        <div class="input-text form-group">
                            <label>Account Code</label>
                            <input type="text" class="form-control" name="account_code" id="account_code" placeholder="Enter Account Code" aria-invalid="false" autocomplete="off"  ng-model="$ctrl.account_code">
                        </div><!-- Field -->
                    </div><!-- Column -->
                    <div class="col-md-6">
                        <div class="input-text form-group">
                            <label>Account Name</label>
                            <input type="text" class="form-control" name="name" id="account_name" placeholder="Enter Account Name" aria-invalid="false" autocomplete="off"  ng-model="$ctrl.account_name">
                        </div><!-- Field -->
                    </div><!-- Column -->
                    <div class="col-md-6">
                        <div class="input-text form-group">
                            <label>Status</label>
                            <md-select ng-model="$ctrl.config_status" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-change="onSelectedStatus($ctrl.config_status)" placeholder="Select Status">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm1" type="search" placeholder="Search for a Status" class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup>
                                    <md-option ng-value="status.id" ng-repeat="status in $ctrl.status | filter:searchTerm1">{{status.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                            <input type="hidden" ng-model="$ctrl.config_status" class="form-control" name="status" id="status" value="">
                        </div><!-- Field -->
                    </div><!-- Column -->
                    <div class="col-md-12">
                        <button type="button" class="btn btn-rose my-tooltip" ng-click="reset_filter();$ctrl.daterange1='';$ctrl.receipt_number='';$ctrl.receipt_of_id='';$ctrl.account_code='';$ctrl.account_name='';$ctrl.config_status=''" ng-shortcut="'meta+shift+t'" ng-shortcut-click data-title="ctrl+shift+t">Reset Filter</button>
                    </div>
                </div><!-- Row -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!--Modal Filter End-->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="receipts-delete-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Delete</h5>
                <p>You can’t retrive the data again, Are you sure you want to delete? </p>
                <input type="hidden" name="receipt_id" id="receipt_id" value="">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-rose" ng-click="deleteConfirm()" type="button" data-dismiss="modal" aria-label="Close">Yes</button>
            </div>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->